<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veículos no Estacionamento</title>
</head>
<body>
    <h1>Veículos no Estacionamento</h1>
    <ul>
        {% for veiculo in veiculos %}
            <li>
                Placa: {{ veiculo.placa }} - Responsável: {{ veiculo.responsavel }}
                <a href="{% url 'saida_veiculo' veiculo.id %}">Registrar Saída</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Voltar para Home</a>
</body>
</html>