<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Informações do Gabinete</h5>
        <dl class="row">
            <dt class="col-sm-3">Nome:</dt>
            <dd class="col-sm-9">{{ gabinete.nome }}</dd>
            
            <dt class="col-sm-3">Vereador Titular:</dt>
            <dd class="col-sm-9">{{ gabinete.vereador_titular }}</dd>
            
            <dt class="col-sm-3">Localização:</dt>
            <dd class="col-sm-9">{{ gabinete.localizacao }}</dd>
        </dl>
    </div>
</div>